# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SuperSimple2DKit-master.iml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\Game Dev\Nightmare-Arcade\SuperSimple2DKit-master\.idea\.idea.SuperSimple2DKit-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
